h1 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
}
.row {
  display: flex;
  justify-content: space-between;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.columns:hover {
  cursor: pointer;
}

.guestName {
  justify-content: left;
}

.guestPage {
  border: 1px solid black;
  border-radius: 10px;
}
